*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

img{
    display: block;
    max-width: 100%;
}

 .container{
    width: 1100px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
 }

.wrap{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between ;
    align-items: center ;
    gap: 10px;
}

 .card{
    flex: 1 0 270px;
    background: rgb(243, 243, 243);
    padding: 10px;
    box-shadow:0 5px 10px rgba {0, 0, 0, 0.5};
    align-self: normal;
 }

 .card .text{
    padding: 10px;
    text-align: center;
    }
    h4{
        margin-bottom: 10px;
        font-size: 2rem;
    }